/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico|Shrikhand');
@import url('http://www.fontspace.com/decade-type-foundry/hustlers-rough-demo?text=');
@import url('fonts/Carnevalee Freakshow.ttf');
@import url('fonts/Hustlers Rough Demo.otf');
@font-face{
	font-family: 'Carnevalee Freakshow';
	src: url('fonts/Carnevalee Freakshow.ttf');
	src:url('fonts/Hustlers Rough Demo.ttf')
}
@font-face{
	font-family: 'Hustlers Rough Demo';
	src:url('fonts/Hustlers Rough Demo.ttf')
}
@font-face{
	font-family: 'ExtraOrnamentalNo2';
	src:url('fonts/ExtraOrnamentalNo2.ttf')
}
@font-face{
	font-family: 'Circus';
	src:url('fonts/Circus.ttf')
}
@font-face{
	font-family: 'RioGrande Striped';
	src:url('fonts/RioGrande Striped.ttf')
}
@font-face{
	font-family: 'RioGrande';
	src:url('fonts/RioGrande.ttf')
}
@font-face{
	font-family: 'FHACondFrenchShadedNC';
	src: url('./fonts/FHACondFrenchShadedNC.ttf')
}

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: 'FHACondFrenchShadedNC';
	line-height: 1.88889;
	color: #555753; 
	background: radial-gradient(#eee, hsl(50, 46%, 82%));
	background-attachment: fixed;
	background-size: cover;
	margin: 0; 
	padding: 0;
	}
* {
	box-sizing: border-box;
}
p { 
	font-family: 'FHACondFrenchShadedNC';
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font-family: 'Hustlers Rough Demo';
	font-size: 28px;
	letter-spacing: 1px; 
	text-align: center;
	margin-bottom: 0; 
	color: brown;
	
	}

a, a:link { 
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: underline; 
	color: brown;
	}
/* a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	} */
/* a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	} */
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	/*background: url(steam-pug.jpg) no-repeat right; */
	/* padding: 0 175px 0 110px;   */
	margin: 0; 
	position: relative;
	}

.intro { 
	display: block;
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	/* text-transform: uppercase; */
	/* font-family: "ExtraOrnamentalNo2"; */	
	font-family: "RioGrande";
	font-size: 45px;
	letter-spacing: 0.5em;
	color: brown;
	opacity: 0.9;
	text-align: center;
	height: 337;
	border-bottom: double black;
	border-top: double black;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	}
header h1::before{
	content: "Circus "
}
header h2 {
	height: 80px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Hustlers Rough Demo';
	font-size: 30px;
	/* background: url('banner-2.jpg') no-repeat center; */
	background-size: contain
	}
header {
	padding-top: 20px;
	height: fit-content;
}

.summary {
	background-image: url(frame-1.png);
	background-size: contain;
	background-repeat: no-repeat;
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 550px;
	float: left;
	}
@media only screen and (max-width: 714px){
	.summary{
		width: 100%;
		clear: both;
		background-position: center;
	}
}
.summary p {
    box-sizing: border-box;
	width: 310px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;	
	
	font-family: 'Carnevalee Freakshow';
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: brown
	}

.preamble {
    box-sizing: border-box;
	font-family: 'Bosox Full';
	font-size: 18px;
	clear: right; 
	padding: 0px 10px 0 10px;
	margin-right: 195px
}
@media only screen and (max-width: 714px){
	.preamble{
		width: 100%;
		clear: both;
		font-size: 14px;
	}

}
.supporting {	
	box-sizing: border-box;
	margin-top: 40px;
	padding-left: 10px; 
	margin-bottom: 40px;
	margin-right: 195px
	}
@media only screen and (max-width: 714px){
	.supporting{
		width: 100%;
		padding: 0px 10px 0 10px;		
		font-size: 14px;
	}
}
.supporting p {
	font-family: 'FHACondFrenchShadedNC';
}

footer { 
	background: url('border-hor.png') repeat-x top;
	background-size: 36em;
	text-align: center;
	width: 90vw; 	
	padding-top: 15px;
	padding-bottom: 100px;
	margin: auto
	}
footer a:link, footer a:visited {
	letter-spacing: 0.1em;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px ;
	}

.sidebar {
	margin-left: 600px; 
	position: absolute;
	top: 0; 
	right: 0;
	}
@media only screen and (max-width: 714px){
	.sidebar .wrapper{
		width: 50px;
		height: 50px !important;
		position: absolute;
		top: 10px;
		right: 10px;
		background: url('border.png') repeat-y top right;
	}
	.sidebar:hover .design-selection{
		visibility: visible;
		background: gainsboro
	}
	.sidebar:hover .design-archives{
		visibility: visible;
		background: gainsboro
	}
	.sidebar:hover .zen-resources{
		visibility: visible;
		background: gainsboro
	}
	.design-selection, .design-archives, .zen-resources{
		visibility: hidden;
		background: gainsboro
	}	
	.extra1:active ~ .sidebar{
		display: initial
	}
	.

}
.sidebar .wrapper {
	/* background: transparent url('victorian-frame. png') center no-repeat; 
	background-size: contain; */
	background: url('border.png') repeat-y top left;
	background-size: 0.6em;
	padding: 10px 10px 0px 15px; 
	margin-top: 230px; 
	margin-right: 20px;
	width: 130px;
	}
.sidebar h3.select {
	color: #988F5E;
	line-height: 1em;
	/* background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden; */

	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	color: brown;
	text-decoration: none;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}

@keyframes floatUpDown{
	from{
		margin-top: 150px;
	}

	to{
		margin-top: 0px;
	}
}

@keyframes floatLeftRight{
	from{
		margin-left: 0px;
	}

	to{
		margin-left: 1000px;
	}
}
@keyframes pulse{
	from{
		width: 170px;
		height: 190px;
	}

	to{
		width: 150px;
		height: 170px;
	}
}
.extra1 {
	background-image: url('hand.png');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute; 
	top: 95px; 
	right: 15px;
	width: 180px;
	height: 200px;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform: rotate(90deg);
	/* -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); */
	}
@media only screen and (max-width: 714px){
	.extra2{
		display: none;
	}	
}
@media only screen and (max-width: 714px){
	
	.extra1:hover~.sidebar{
		visibility: visible;
		display: block
	}
	.extra1{
		display: none;
	}
}
.extra2{
	background-image: url('air-balloon.png') ;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute; 
	top: 0px; 
	left: 20px;
	width: 300px;
	height: 200px;
	animation-name: floatUpDown;
	animation-duration: 3s;
	animation-iteration-count:  infinite;
	animation-direction: alternate;
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
.extra3{
	background-image: url('./book.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 500px;
	height: 210px;
	left: 820px; /*-10px;*/
	bottom: -90px;
	transform: rotate(4deg);
}
.extra4{
	background-image: url('./ticket.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 300px;
	height: 120px;
	left: 360px;
	bottom: -20px;
	transform: rotate(-8deg);
}
.extra5{
	background-image: url('./bicycle.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 400px;
	height: 160px;
	left: 550px;
	bottom: -30px;
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(34, 6, 6, 0.5));
}
.extra6{
	background-image: url('./train-2.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 400px;
	height: 160px;
	left: 10px;
	bottom: -30px;
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
.extra6::after{
	content: "";
	display: inline-block;
	background-image: url('fish.png');
	background-size: contain;
	position: fixed;
	left: 1020px;
	bottom: -30px;
	width: 400px;
	height: 200px;
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}